.public-menu-icon {
    height: 30px;
}

.public-logo {
    height: 50px;
}

.public-search-icon {
    height: 20px;
}

.public-cart-icon {
    height: 30px;
}

.public-user-icon {
    height: 32px;
}
