/* Core Input Styles */
.form-input {
    background-color: var(--bg-input);
    border: 2px solid var(--input-border);
    margin: 8px 0 0 0;
    margin-bottom: 0 !important;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    color: var(--text-main);
    transition: all 0.3s ease;
}

.form-input::placeholder {
    color: var(--text-secondary);
}

.form-input:focus {
    border-color: var(--input-focus-border);
    box-shadow: var(--shadow-focus);
    background-color: var(--bg-input);
}

/* Accessiblity / Error states */
.input-error {
    border-color: var(--color-danger) !important;
}

/* Wrapper */
.form-input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* Error Message */
.error-message {
    margin: 2px 0 0 0 !important;
    padding: 0 !important;
    color: var(--color-danger);
    font-size: 12px;
    text-align: left;
    width: 100%;
    line-height: 1.2;
}
