.wave-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

/* Wave Styles */
.wave {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--gradient-teal); 
    box-shadow: var(--shadow-waves); 
    filter: blur(25px);
    opacity: 0.7;
}

.wave.left {
    left: -150px;
    top: -100px;
    animation: moveWaveVertical 2.5s infinite ease-in-out alternate;
}

.wave.right {
    right: -150px;
    top: -100px;
    animation: moveWaveVertical 2.5s infinite ease-in-out alternate;
}

/* Animation */
@keyframes moveWaveVertical {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(80vh);
    }
}